#main{
    display: flex;
    align-items: center;

    background-color: #1F2535;
    color: white;

    padding: 2%;
}

#main h1{
    font-size: 5rem;
}

#main h2{
    line-height: .5;
}

#main button{
    color: black;
    background-color: white;
    width: 10vw;
    height: 7vh;

    border-radius: 10%;
    margin-bottom: 5%;

}


#left{
    margin:0%;

}